:root {
    --button-size: 20px;
}


.cell-button {
    border-width: 0px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
    width: var(--button-size);
    height: var(--button-size);
    margin-left: 2px;
    padding: 1px;
    background-color: transparent;
}

.cell-button-inner-disabled-filter {
    opacity: 0.5;
}

.cell-button-child {
    max-width: 100%;
    max-height: 100%;
}

.cell-button-child img{
    max-width: 100%;
    max-height: 100%;
}

.cell-button-vscode-light {
    border-color: black;
}

.cell-button-vscode-light:hover {
    background-color:black;
    color: white;
}

.cell-button-vscode-light:disabled:hover {
    background-color:transparent;
}

.cell-button-vscode-light:disabled {
    border-color: gray;
    filter: grayscale(100%);
}

.cell-button-vscode-dark {
    border-color: white;
}

.cell-button-vscode-dark:disabled {
    border-color: transparent;
}

.cell-button-vscode-dark:hover {
    background-color:white;
    color: black;
}

.cell-button-vscode-dark:disabled:hover {
    background-color:transparent;
}

.cell-button-vscode-dark:disabled {
    border-color: gray;
    filter: grayscale(100%);
}

