.cell-wrapper {
    margin: 0px;
    padding: 2px;
    display: block;
}

.cell-wrapper-preview {
    background-color: var(--override-peek-background, var(--vscode-peekViewEditor-background));
}

.cell-wrapper-noneditable {
    border-bottom-color: var(--override-widget-background, var(--vscode-editorGroupHeader-tabsBackground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cell-wrapper:after {
    content: "";
    clear: both;
    display: block;
}

.cell-outer {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3px;
    width: 100%;
}

.cell-outer-editable {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3px;
    width: 100%;
    margin-top:16px;
}

.content-div {
    grid-column: 2;
    width: 100%;
}

.controls-div {
    grid-column: 1;
    grid-template-columns: auto;
    display: grid;
}

.cell-result-container {
    width: 100%;
}

.cell-input {
    margin: 0;
}

.cell-input pre{
    margin: 0px;
    padding: 0px;
}

.cell-output {
    margin-top: 5px;
    background: var(--override-widget-background, var(--vscode-notifications-background));
}

.cell-output-text {
    white-space: pre-wrap;
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
}
.cell-output-text pre {
    white-space: pre-wrap;
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
}

.cell-output-html {
    white-space: unset;
    position: relative;
}

.cell-output table {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 12px;
    table-layout: fixed;
}

.cell-output thead {
    border-bottom-color: var(--override-foreground, var(--vscode-editor-foreground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
    vertical-align: bottom;
}

.cell-output tr,
.cell-output th,
.cell-output td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.cell-output th {
  font-weight: bold;
}
.cell-output tbody tr:nth-child(even) {
  background: var(--override-background, var(--vscode-editor-background)); /* Force to white because the default color for output is gray */
}
.cell-output tbody tr:hover {
  background: var(--override-selection-background, var(--vscode-editor-selectionBackground));
}
.cell-output * + table {
  margin-top: 1em;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.cell-output-html .plot-open-button {
    z-index: 10;
    position: absolute;
    left: 2px;
    visibility: hidden;
}

.cell-output-html:hover .plot-open-button {
    visibility: visible;
}

.cell-output-error {
    background: var(--override-background, var(--vscode-editor-background));
}


