.CodeMirror {
    text-align: left!important;
    background-color: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

.cm-s-default {
    background-color: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    font-family: var(--code-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--code-font-size);
}

.CodeMirror-lines {
    padding: 0px;
}

.CodeMirror pre {
    padding: 0px;
}

.code-area .CodeMirror {
    height: auto;
}


.code-area {
    position: relative;
    width:100%;
}

.code-area-editable {
    margin-bottom: 10px;
}

.code-watermark {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 500;
    font-style: italic;
    color: var(--override-watermark-color, var(--vscode-pickerGroup-border));
}

.hide {
    visibility: hidden;
}

