
.code-area {
    position: relative;
    width:100%;
    margin-bottom:16px;
    top: -2px; /* Account for spacing removed from the monaco editor */
}

.code-area-editable {
    margin-bottom: 10px;
}

.code-watermark {
    position: absolute;
    top: 3px;
    left: 30px;
    z-index: 500;
    font-style: italic;
    color: var(--override-watermark-color, var(--vscode-panelTitle-inactiveForeground));
}

