.collapse-input-svg-rotate {
    transform: rotate(45deg);
    transform-origin: 0% 100%;
}

.collapse-input-svg-vscode-light {
    fill: black;
}

.collapse-input-svg-vscode-dark {
    fill: lightgray;
}

.collapse-input {
    grid-column: 2;
    padding: 2px;
    margin-top: 2px;
    height: min-content;
}

.remove-style {
    background-color:transparent;
    border:transparent;
}
