.command-prompt {
    background-color: transparent;
    border: transparent;
    color: var(--code-comment-color);
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    text-align: center;
    font-family: var(--code-font-family);
}
