.cursor-top {
    position: absolute;
    z-index:1005;
    font-family: var(--code-font-family);
    pointer-events: none;
}

.cursor-block {
    border: .05px solid var(--override-foreground, var(--vscode-editor-foreground));
    min-width: 5px;
    margin-left: -1px;
    margin-right: -1px;
}

.cursor-line {
    border-left: 1px solid var(--override-foreground, var(--vscode-editor-foreground));
}

.cursor-underline {
    border-bottom: 1px solid var(--override-foreground, var(--vscode-editor-foreground));
    min-width: 5px;
}

.cursor-measure {
    visibility: hidden;
}

.cursor-line-overlay {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    min-width: 5px;
    animation: blinkCursorLine 750ms infinite;
}

.cursor-underline-overlay {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    min-width: 5px;
    animation: blinkCursorUnderline 750ms infinite;
}

.cursor-block-overlay {
    font-family: var(--code-font-family);
    background-color: transparent;
    color: transparent;
    animation: blinkCursorBlock 750ms infinite;
}

@keyframes blinkCursorLine {
    0%, 49%    {border-left-color: transparent;}
    50%, 100% {border-left-color: var(--override-foreground, var(--vscode-editor-foreground));}
}

@keyframes blinkCursorUnderline {
    0%, 49%    {border-bottom-color: transparent;}
    50%, 100% {border-bottom-color: var(--override-foreground, var(--vscode-editor-foreground)); }
}

@keyframes blinkCursorBlock {
    0%, 49%   {background-color: transparent; color: transparent;}
    50%, 100%  {background-color: var(--override-foreground, var(--vscode-editor-foreground)); color: var(--override-background, var(--vscode-editor-background));}
}
