.execution-count {
    grid-column: 1;
    font-weight: bold;
    display:flex;
    color: var(--code-comment-color);
 }

 .execution-count-busy-outer {
    grid-column: 1;
    font-weight: bold;
    color: var(--code-comment-color);
    display:flex;
    width: 16px;
    height: 16px;
}
 .execution-count-busy-svg {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    width: 16px;
    height: 16px;
}

.execution-count-busy-polyline {
    fill: none;
    stroke: var(--code-comment-color);
    stroke-width: 5;
}

 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

