body, html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    overflow: hidden;
}

#main-panel {
    background: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "toolbar"
    "variable"
    "content"
    "footer";
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#main-panel-toolbar {
    grid-area: toolbar;
    justify-self: end;
    overflow: hidden;
}

#main-panel-variable {
    grid-area: variable;
    overflow: auto;
}
#main-panel-content {
    grid-area: content;
    max-height: 100%;
    overflow: auto;
}
#main-panel-footer {
    grid-area: footer;
    overflow: hidden;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden; 
}

.edit-panel {
    min-height:50px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-top-color: var(--override-widget-background, var(--vscode-editorGroupHeader-tabsBackground));
    border-top-style: solid;
    border-top-width: 1px;
}