.sysinfo-wrapper {
    margin: 10px;
    padding: 2px;
    display: block;
    border-bottom-color: var(--override-tabs-background, var(--vscode-editorGroupHeader-tabsBackground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sysinfo-outer {
    background: var(--override-widget-background, var(--vscode-notifications-background));
    white-space: pre-wrap;
    font-family: monospace;
    width: 100%;
}

.sysinfo-result-container pre {
    white-space: pre-wrap;
    font-family: monospace;
}



