@rerun*.txt
.DS_Store
out
**/node_modules
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
npm-debug.log
**/.mypy_cache/**
cucumber-report.json
.vscode-test/**
.vscode test/**
**/.venv*/
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results.xml
uitests/out/**
!build/
