# For Playwright project: e2e-workbench
# Copy and rename to .env.e2e-workbench in the root of the repo

POSITRON_PY_VER_SEL=3.10.12
POSITRON_PY_ALT_VER_SEL=3.13.0
POSITRON_R_VER_SEL=4.5.2
POSITRON_R_ALT_VER_SEL=4.4.2
# POSIT_WORKBENCH_PASSWORD=your_password_here
# E2E_POSTGRES_PASSWORD==your_password_here
E2E_POSTGRES_USER=e2e

DATABRICKS_URL=
DATABRICKS_CLIENT_ID=
IDE_SERVICE_ACCOUNT_EMAIL=
IDE_SERVICE_ACCOUNT_PASSWORD=
IDE_SERVICE_ACCOUNT_OTP_SECRET=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_CLIENT_ID=
SNOWFLAKE_CLIENT_SECRET=
SNOWFLAKE_USERNAME=
SNOWFLAKE_PASSWORD=
