# For Playwright project: e2e-workbench
# Copy and rename to .env.e2e-workbench in the root of the repo

POSITRON_PY_VER_SEL=3.10.12
POSITRON_PY_ALT_VER_SEL=3.13.0
POSITRON_R_VER_SEL=4.4.0
POSITRON_R_ALT_VER_SEL=4.4.2
# POSIT_WORKBENCH_PASSWORD=your_password_here
E2E_POSTGRES_DB=periodic
# E2E_POSTGRES_PASSWORD==your_password_here
E2E_POSTGRES_USER=e2e
