# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# Use Python 3.9 when creating the environment or using pip-tools
# 1) Install `uv` https://docs.astral.sh/uv/getting-started/installation/
# 2) uv pip compile --generate-hashes --upgrade python_files/positron_requirements/requirements.in > python_files/positron_requirements/requirements.txt

docstring-to-markdown==0.13
# TODO: Double-check this version before merging.
jedi-language-server>=0.45.0
# Need to lower bound lsprotocol to a prerelease version to include prereleases in the search,
# else compile fails since a lsprotocol prerelease is required by the pygls prerelease.
lsprotocol>=2024.0.0b1
markdown-it-py
# Stick to pydantic v1 since it has a pure Python implementation which is much easy to vendor.
pydantic<2.0.0
pygls>=2.0.0a2
pygments
# typing-extensions>=4.11.0 causes torch._dynamo to fail to import. We're not yet sure why,
# so we're pinning the version for now. See: https://github.com/posit-dev/positron/issues/5879.
typing-extensions<4.11.0
