# This file isn't used in CI but is useful for local development if you're using Conda.
# Try to keep it aligned with test-requirements.txt.
fastcore
geopandas
haystack-ai
holoviews
hvplot
ibis-duckdb
ipykernel
ipython<=8.31.0  # see https://github.com/posit-dev/positron/issues/6604
ipywidgets
lightning
matplotlib
numpy
pandas
plotly
polars
pyarrow
pytest
pytest-asyncio
pytest-mock
pytorch
sqlalchemy

# putting this last like test-requirements.txt
bokeh

# to help with linting
ruff
