# Pinned versions of packages from test-requirements.txt for testing PRs (note we use unpinned during nightly testing).
# During monthly maintenance, this command may be helpful to audit the pinned versions:
#
# cd extensions/positron-python/python_files/posit
# PYTHON_VERSION=3.9
# uv venv -p $PYTHON_VERSION --seed \
#     && source .venv/bin/activate \
#     && uv pip install -r test-requirements.txt \
#     && pip freeze -r test-requirements.txt | sed '/## The following requirements/,$ d'

# Then iterate through supported PYTHON_VERSIONS to make sure we covered the latest versions.

databricks-sql-connector[pyarrow]==2.0.2
duckdb==1.4.2
fastcore==1.8.9; python_version == '3.9'
fastcore==1.8.16; python_version >= '3.10'
geopandas==1.0.1; python_version == '3.9'
geopandas==1.1.1; python_version >= '3.10' and python_version < '3.14'
haystack-ai==2.20.0
holoviews==1.20.2; python_version == '3.9'
holoviews==1.22.0; python_version >= '3.10'
hvplot==0.11.3; python_version == '3.9'
hvplot==0.12.1; python_version >= '3.10'
ibis-framework[duckdb]==11.0.0; python_version < '3.14'
ipykernel==6.31.0; python_version == '3.9'
ipykernel==7.1.0; python_version >= '3.10'
ipython==8.18.1; python_version == '3.9'
ipython==8.37.0; python_version == '3.10'
ipython==9.7.0; python_version >= '3.11'
ipywidgets==8.1.8
lightning==2.5.6
matplotlib==3.9.4; python_version == '3.9'
matplotlib==3.10.7; python_version >= '3.10'
numpy==2.0.2; python_version == '3.9'
numpy==2.2.6; python_version == '3.10'
numpy==2.3.5; python_version >= '3.11'
pandas==2.3.3
plotly==6.5.0
plotnine==0.13.6; python_version == '3.9'
plotnine==0.15.1; python_version >= '3.10'
polars==1.35.2
polars[timezone]==1.35.2; sys_platform == 'win32'
pyarrow==21.0.0; python_version == '3.9'
pyarrow==22.0.0; python_version > '3.10'
pytest==8.4.2; python_version == '3.9'
pytest==9.0.1; python_version >= '3.10'
pytest-asyncio==1.2.0; python_version == '3.9'
pytest-asyncio==1.3.0; python_version >= '3.10'
pytest-mock==3.15.1
syrupy==4.9.1; python_version == '3.9'
syrupy==5.0.0; python_version >= '3.10'
torch==2.8.0; python_version == '3.9'
torch==2.9.1; python_version >= '3.10'
scipy==1.13.1; python_version == '3.9'
scipy==1.15.3; python_version == '3.10'
scipy==1.16.3; python_version >= '3.11'
snowflake-connector-python==4.0.0; python_version < '3.14'
SQLAlchemy==2.0.44

# putting this last like test-requirements.txt
bokeh==3.4.3; python_version == '3.9'
bokeh==3.8.1; python_version >= '3.10'
