# Pinned versions of packages from test-requirements.txt for testing PRs (note we use unpinned during nightly testing).
# During monthly maintenance, this command may be helpful to audit the pinned versions:
#
cd extensions/positron-python/python_files/posit
PYTHON_VERSION=3.9
uv venv -p $PYTHON_VERSION --seed \
    && source .venv/bin/activate \
    && uv pip install -r test-requirements.txt \
    && pip freeze -r test-requirements.txt | sed '/## The following requirements/,$ d'

# Then iterate through supported PYTHON_VERSIONS to make sure we covered the latest versions.

fastcore==1.8.8
geopandas==1.0.1; python_version == '3.9'
geopandas==1.1.1; python_version >= '3.10'
haystack-ai==2.17.1
holoviews==1.20.2; python_version == '3.9'
holoviews==1.21.0; python_version >= '3.10'
hvplot==0.11.3; python_version == '3.9'
hvplot==0.12.1; python_version >= '3.10'
ibis-framework[duckdb]==10.8.0; python_version >= '3.10'
ipykernel==6.30.1
ipython==8.18.1; python_version == '3.9'
ipython==8.37.0; python_version == '3.10'
ipython==9.5.0; python_version >= '3.11'
ipywidgets==8.1.7
lightning==2.5.4
matplotlib==3.9.4; python_version == '3.9'
matplotlib==3.10.6; python_version >= '3.10'
numpy==2.0.2; python_version == '3.9'
numpy==2.2.6; python_version == '3.10'
numpy==2.3.2; python_version >= '3.11'
pandas==2.3.2
plotly==6.3.0
plotnine==0.13.6; python_version == '3.9'
plotnine==0.15.0; python_version >= '3.10'
polars==1.33.0
polars[timezone]==1.33.0; sys_platform == 'win32'
pyarrow==21.0.0
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-mock==3.14.1
syrupy==4.9.1
torch==2.8.0
scipy==1.13.1; python_version == '3.9'
scipy==1.15.3; python_version >= '3.10'
scipy==1.16.1; python_version >= '3.11'
SQLAlchemy==2.0.43

# putting this last like test-requirements.txt
bokeh==3.4.3; python_version == '3.9'
bokeh==3.7.3; python_version >= '3.10'
