databricks-sql-connector[pyarrow]
duckdb
fastcore
geopandas; python_version < '3.14'
haystack-ai
holoviews
hvplot
ibis-framework[duckdb]
ipykernel
ipython
ipywidgets
lightning
matplotlib
numpy
pandas
plotly
plotnine
polars
polars[timezone]; sys_platform == 'win32'
pyarrow; python_version < '3.14'
pytest
pytest-asyncio
pytest-mock
syrupy
torch
scipy
snowflake-connector-python; python_version < '3.14'
sqlalchemy

# putting this last because holoviews is picky about dependency versions (including bokeh),
# so uv's resolver needs to tackle holoviews first
bokeh
