bokeh==3.4.3; python_version >= '3.9'
bokeh==3.1.0; python_version < '3.9'
fastcore==1.5.29
geopandas==0.13.2; python_version < '3.9'
geopandas==1.0.1; python_version >= '3.9'
holoviews==1.19.1; python_version >= '3.9'
ipykernel==6.29.3
ipywidgets==8.1.2
matplotlib==3.8.2; python_version >= '3.9'
matplotlib==3.7.4; python_version < '3.9'
numpy==1.26.3; python_version >= '3.9'
numpy==1.24.4; python_version < '3.9'
pandas==2.2.0; python_version >= '3.9'
pandas==2.0.3; python_version < '3.9'
pyarrow==16.1.0
pytest==8.0.2
pytest-asyncio==0.23.5
pytest-mock==3.12.0
polars==0.20.31; python_version >= '3.9'
polars[timezone]==0.20.31; python_version < '3.9' or sys_platform == 'win32'
torch==2.1.2; python_version < '3.12'
sqlalchemy==2.0.28
