.DS_Store
out
node_modules
*.pyc
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
.vscode-test/**
.venv*/
pythonFiles/experimental/ptvsd/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
