**/*.map
.appveyor.yml
.editorconfig
.eslintrc
.gitattributes
.gitignore
.gitmodules
.travis.yml
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
coverconfig.json
gulpfile.js
packageExtension.cmd
tsconfig.json
tsfmt.json
tslint.json
typings.json
vscode-python-signing.*
webpack.config.js
yarn.lock

.github/**
.nvm/**
.vscode/**
.vscode-test/**
analysis/publish*.*
bin/**
BuildOutput/**
coverage/**
debug_coverage*/**
images/**/*.gif
images/**/*.png
news/**
obj/**
out/coverconfig.json
out/pythonFiles/**
out/src/**
out/test/**
out/testMultiRootWkspc/**
pythonFiles/**/*.pyc
requirements.txt
scripts/**
src/**
test/**
typings/**
vsc-extension-quickstart.md
