**/*.map
**/*.analyzer.html
*.vsix
.editorconfig
.env
.eslintrc
.gitattributes
.gitignore
.gitmodules
.npmrc
.nvmrc
.nycrc
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
gulpfile.js
package-lock.json
requirements.in
sprint-planning.github-issues
test.ipynb
tsconfig*.json
tsfmt.json
vscode-python-signing.*

.github/**
.mocha-reporter/**
.nvm/**
.nyc_output
.prettierrc.js
.sonarcloud.properties
.venv/**
.vscode/**
.vscode-test/**
.vscode test/**
languageServer/**
languageServer.*/**
nodeLanguageServer/**
nodeLanguageServer.*/**
bin/**
build/**
BuildOutput/**
coverage/**
data/**
debug_coverage*/**
images/**/*.gif
images/**/*.png
ipywidgets/**
i18n/**
node_modules/**
obj/**
out/**/*.stats.json
out/client/**/*.analyzer.html
out/coverconfig.json
out/python_files/**
out/src/**
out/test/**
out/testMultiRootWkspc/**
precommit.hook
python_files/**/*.pyc
python_files/lib/**/*.egg-info/**
python_files/lib/python/bin/**
python_files/tests/**
scripts/**
src/**
test/**
tmp/**
typings/**
types/**
