**/*.map
**/*.analyzer.html
!out/datascience-ui/common/node_modules/**/*
!out/datascience-ui/notebook/commons.initial.bundle.js.map
!out/datascience-ui/notebook/interactiveWindow.js.map
!out/datascience-ui/notebook/nativeEditor.js.map
!out/datascience-ui/viewers/commons.initial.bundle.js.map
!out/datascience-ui/viewers/dataExplorer.js.map
!out/datascience-ui/viewers/plotViewer.js.map
*.vsix
.appveyor.yml
.editorconfig
.env
.eslintrc
.gitattributes
.gitignore
.gitmodules
.huskyrc.json
.npmrc
.nvmrc
.nycrc
.travis.yml
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
CONTRIBUTING - LANGUAGE SERVER.md
coverconfig.json
cucumber-report.json
gulpfile.js
package.datascience-ui.dependencies.json
package-lock.json
packageExtension.cmd
pvsc-dev-ext.py
pvsc.code-workspace
PYTHON_INTERACTIVE_TROUBLESHOOTING.md
requirements.in
test.ipynb
travis*.log
tsconfig*.json
tsfmt.json
tslint.json
typings.json
vsc-extension-quickstart.md
vscode-python-signing.*
webpack.config.js
webpack.datascience-*.config.js

.devcontainer/**
.github/**
.mocha-reporter/**
.nvm/**
.nyc_output
.prettierrc.js
.sonarcloud.properties
.venv/**
.vscode/**
.vscode-test/**
.vscode test/**
languageServer/**
languageServer.*/**
nodeLanguageServer/**
nodeLanguageServer.*/**
bin/**
build/**
BuildOutput/**
coverage/**
data/**
debug_coverage*/**
images/**/*.gif
images/**/*.png
ipywidgets/**
news/**
node_modules/**
obj/**
out/**/*.stats.json
out/client/**/*.analyzer.html
out/coverconfig.json
out/datascience-ui/**/*.analyzer.html
out/datascience-ui/common/**
out/datascience-ui/**/*.js.LICENSE
out/datascience-ui/data-explorer/**
out/datascience-ui/datascience-ui/**
out/datascience-ui/history-react/**
out/datascience-ui/interactive-common/**
out/datascience-ui/ipywidgets/**
out/datascience-ui/native-editor/**
out/datascience-ui/notebook/datascience-ui/**
out/datascience-ui/notebook/ipywidgets/**
out/datascience-ui/notebook/index.*.html
out/datascience-ui/plot/**
out/datascience-ui/react-common/**
out/datascience-ui/viewers/datascience-ui/**
out/datascience-ui/viewers/ipywidgets/**
out/datascience-ui/viewers/index.*.html
out/pythonFiles/**
out/src/**
out/test/**
out/testMultiRootWkspc/**
precommit.hook
pythonFiles/**/*.pyc
pythonFiles/lib/**/*.dist-info/**
pythonFiles/lib/**/*.egg-info/**
pythonFiles/lib/python/bin/**
pythonFiles/tests/**
requirements.txt
scripts/**
src/**
test/**
tmp/**
typings/**
types/**
