# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# 1) pip install pip-tools
# 2) pip-compile --generate-hashes requirements.in

# We don't need to add Python version restrictions
# since we don't support anything older than 3.6 anymore,
# However, make sure to use Python 3.6 when running pip-compile,
# so that all Python 3.6-specific requirements are captured when generating requirements.txt.

# Sort Imports
isort==5.9.3

# Jedi behind LSP
jedi-language-server>=0.34.3
pygls>=0.10.3
dataclasses==0.8;python_version<="3.6"
