# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# 1) pip install pip-tools
# 2) pip-compile --generate-hashes requirements.in

# IntelliSense via Jedi
jedi<0.18  # For Python 2.7 support
pygls; python_version >= '3.6'  # To make requirements.txt keep the marker to avoid Python 2.7.
jedi-language-server<0.22; python_version >= '3.6'  # To work with Jedi 0.17.
# Sort Imports
isort==5.6.3; python_version >= '3.6'
