{
	"singleQuote": true,
	"useTabs": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml", "*.json"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
