.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.mts
**/.vscode-test.*
