et-xmlfile
numpy
openpyxl
pandas
pyarrow
python-dateutil
pytz
six
tzdata
polars
faicons
shiny
shinywidgets
plotly
ridgeplot
ipyleaflet
ipywidgets
bqplot==0.12.47
ipydatagrid
ipympl
ipytree
leafmap
matplotlib
streamlit-aggrid
streamlit
click
bokeh==3.8.2
altair
hvplot
graphviz
pydot
vetiver
great-tables
gradio
fastapi
dash
flask
seaborn
nbformat
nbclient
SQLAlchemy
psycopg2-binary
ipykernel
astropy