# Copy this file to .env and fill in the values

# Postgres credentials (from 1Password: Positron > E2E Postgres DB Connection info)
E2E_POSTGRES_USER=
E2E_POSTGRES_PASSWORD=

# Password for the 'user1' account in Workbench (choose your own)
WB_PASSWORD=

DATABRICKS_URL=
DATABRICKS_CLIENT_ID=
IDE_SERVICE_ACCOUNT_EMAIL=
IDE_SERVICE_ACCOUNT_PASSWORD=
IDE_SERVICE_ACCOUNT_OTP_SECRET=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_CLIENT_ID=
SNOWFLAKE_CLIENT_SECRET=
SNOWFLAKE_USERNAME=
SNOWFLAKE_PASSWORD=

# Azure (from 1Password: azure_service_principal_client_secret)
AZURE_SERVICE_PRINCIPAL_CLIENT_SECRET=
