name: "PR: Comment"

on:
  pull_request:
    types:
      - opened
      - synchronize
      - edited

jobs:
  e2e-tags:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.state != 'closed' }} # Skip job if PR is closed
    steps:
      - uses: actions/checkout@v6

      - name: Parse Tags from PR Body
        id: pr-tags
        run: bash scripts/pr-tags-parse.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}

      - name: Update PR Comment with Tags
        run: bash ./scripts/pr-e2e-comment.sh "<!-- PR Tags -->" "${{ env.tags }}"
        env:
          tags: ${{ steps.pr-tags.outputs.tags }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
