name: "Test: Full Suite"

on:

  workflow_dispatch:
      inputs:
        run_e2e_linux:
          description: "E2E Tests / Electron (Ubuntu)"
          required: false
          default: true
          type: boolean
        run_e2e_rhel:
          description: "E2E Tests / Electron (RHEL)"
          required: false
          default: false
          type: boolean
        run_e2e_windows:
          description: "E2E Tests / Electron (Windows)"
          required: false
          default: true
          type: boolean
        run_e2e_browser:
          description: "E2E Tests / Chromium (Ubuntu)"
          required: false
          default: true
          type: boolean
        run_e2e_browser_rhel:
          description: "E2E Tests / Chromium (RHEL)"
          required: false
          default: false
          type: boolean
        run_unit_tests:
          description: "Unit Tests"
          required: false
          default: true
          type: boolean
        run_integration_tests:
          description: "Integration Tests"
          required: false
          default: true
          type: boolean
        notify_on:
            description: "Slack notification on:"
            required: false
            default: "failure"
            type: choice
            options:
              - failure
              - always
              - never

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  e2e-electron:
    name: e2e
    if: ${{ github.event_name == 'schedule' || inputs.run_e2e_linux  }}
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    secrets: inherit
    with:
      grep: ""
      project: "e2e-electron"
      display_name: "electron (ubuntu)"
      currents_tags: ${{ github.event_name == 'schedule' && 'nightly,electron/ubuntu' || 'electron/ubuntu' }}
      report_testrail: false
      report_currents: false
      install_undetectable_interpreters: true
      install_license: false

  e2e-windows:
    name: e2e
    if: ${{ github.event_name == 'schedule' || inputs.run_e2e_windows }}
    uses: ./.github/workflows/test-e2e-windows.yml
    secrets: inherit
    with:
      grep: ""
      display_name: "electron (win)"
      currents_tags: ${{ github.event_name == 'schedule' && 'nightly,electron/win' || 'electron/win' }}
      report_testrail: false
      report_currents: false

  e2e-browser:
    name: e2e
    if: ${{  github.event_name == 'schedule' || inputs.run_e2e_browser }}
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    secrets: inherit
    with:
      grep: ""
      project: "e2e-browser"
      display_name: "browser (ubuntu)"
      currents_tags: ${{ github.event_name == 'schedule' && 'nightly,browser/ubuntu' || 'browser/ubuntu' }}
      report_testrail: false
      report_currents: false
      install_undetectable_interpreters: true
      install_license: true

  e2e-rhel:
    name: e2e
    if: ${{ github.event_name == 'schedule' || inputs.run_e2e_rhel  }}
    uses: ./.github/workflows/test-e2e-rhel.yml
    secrets: inherit
    with:
      grep: ""
      project: "e2e-electron"
      display_name: "electron (rhel)"
      currents_tags: ${{ github.event_name == 'schedule' && 'nightly,electron/rhel' || 'electron/rhel' }}
      report_testrail: false
      report_currents: false
      install_undetectable_interpreters: true
      install_license: false

  e2e-browser-rhel:
    name: e2e
    if: ${{  github.event_name == 'schedule' || inputs.run_e2e_browser_rhel }}
    uses: ./.github/workflows/test-e2e-rhel.yml
    secrets: inherit
    with:
      grep: ""
      project: "e2e-browser"
      display_name: "browser (rhel)"
      currents_tags: ${{ github.event_name == 'schedule' && 'nightly,browser/rhel' || 'browser/rhel' }}
      report_testrail: false
      report_currents: false
      install_undetectable_interpreters: true
      install_license: true

  unit-tests:
    name: test
    if: ${{ github.event_name == 'schedule' || inputs.run_unit_tests }}
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    if: ${{ github.event_name == 'schedule' ||  inputs.run_integration_tests }}
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
    with:
      pull_request: false

  slack-notify:
    if: always()
    needs: [e2e-electron, e2e-windows, e2e-browser, unit-tests, integration-tests]
    runs-on: ubuntu-latest
    env:
      notify_on: ${{ github.event_name == 'schedule' && 'always' || inputs.notify_on || 'failure' }}
    steps:
      - run: |
          echo "Will notify on: ${{ env.notify_on }}"
      - name: Notify Slack
        uses: midleman/slack-workflow-status@v3.1.2
        with:
          gh_repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_token: ${{ secrets.SLACK_TOKEN_TEST_STATUS }}
          slack_channel: "#positron-test-results"
          notify_on: ${{ env.notify_on }}

