name: "Test: Merge to branch"

on:
  push:
    branches:
      - main
      - 'prerelease/**'

jobs:
  e2e-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-linux.yml
    with:
      grep: ""
      project: "e2e-electron"
      display_name: "electron (linux)"
      currents_tags: "merge,electron/linux"
    secrets: inherit

  e2e-windows-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ""
      display_name: "electron (windows)"
      currents_tags: "merge,electron/windows"
      report_testrail: false
    secrets: inherit

  e2e-linux-browser:
    name: e2e
    uses: ./.github/workflows/test-e2e-linux.yml
    with:
      grep: ""
      display_name: "browser (linux)"
      project: "e2e-browser"
      currents_tags: "merge,browser/linux"
      report_testrail: false
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit

  slack-notify:
    if: failure()
    needs: [unit-tests, integration-tests, e2e-electron, e2e-windows-electron, e2e-linux-browser]
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack
        uses: midleman/slack-workflow-status@v2.0.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_token: ${{ secrets.SLACK_TOKEN_TEST_STATUS }}
          channel: "#positron-test-results"
          notify_on: "failure"


