name: "Test: Merge to branch"

on:
  push:
    branches:
      - main
      - "prerelease/**"
      - "release/**"

jobs:
  setup:
    name: setup
    uses: ./.github/workflows/test-e2e-ubuntu-build.yml
    secrets: inherit

  e2e-electron:
    name: e2e
    needs: [setup]
    uses: ./.github/workflows/test-e2e-ubuntu-run.yml
    with:
      grep: ""
      project: "e2e-electron"
      display_name: "electron"
      currents_tags: "merge,electron/ubuntu"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      shards: 4
      matrix: '{"shard":[1,2,3,4]}'
      workers: 2
      allow_soft_fail: true
    secrets: inherit

  e2e-windows-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ""
      display_name: "electron (windows)"
      currents_tags: "merge,electron/windows"
      upload_logs: false
      allow_soft_fail: true
    secrets: inherit

  e2e-linux-chromium:
    name: e2e
    needs: [setup]
    uses: ./.github/workflows/test-e2e-ubuntu-run.yml
    with:
      grep: ""
      display_name: "chromium"
      project: "e2e-chromium"
      currents_tags: "merge,chromium/ubuntu"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: true
      shards: 4
      matrix: '{"shard":[1,2,3,4]}'
      workers: 2
      allow_soft_fail: true
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
    with:
      pull_request: false

  slack-notify:
    if: always()
    needs:
      [
        setup,
        unit-tests,
        integration-tests,
        e2e-electron,
        e2e-windows-electron,
        e2e-linux-chromium,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack
        uses: midleman/slack-workflow-status@v3.1.3
        with:
          gh_repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_token: ${{ secrets.SLACK_TOKEN_TEST_STATUS }}
          slack_channel: "#positron-test-results"
          filter_jobs: "(e2e / ([^0-9]*)|unit|integration)$"
          notify_on: "failure"
