name: "Test: Integration"

on:
  workflow_call:
    inputs:
      pull_request:
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      pull_request:
        description: 'Is this a pull request run?'
        required: false
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  integration-tests:
    name: integration
    runs-on: ubuntu-latest-4x
    timeout-minutes: 40
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      POSITRON_BUILD_NUMBER: 0 # CI skips building releases
      _R_CHECK_FUTURE_FILE_TIMESTAMPS_: false # this check can be flaky in the R pkg tests
      _R_CHECK_CRAN_INCOMING_: false
      _R_CHECK_SYSTEM_CLOCK_: false
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Cache node_modules, build, extensions, and remote
        uses: ./.github/actions/cache-multi-paths

      - name: Attempt 1 - Setup Build and Compile
        id: attempt1
        uses: ./.github/actions/setup-unit-test-build-env
        continue-on-error: true

      - name: Attempt 2 - Setup Build and Compile
        if: ${{ steps.attempt1.outcome == 'failure' }}
        id: attempt2
        uses: ./.github/actions/setup-unit-test-build-env
        continue-on-error: true

      - name: Attempt 3 - Setup Build and Compile
        if: ${{ steps.attempt2.outcome == 'failure' }}
        uses: ./.github/actions/setup-unit-test-build-env

      - name: Fail if Retries Exhausted
        if: ${{ steps.attempt3.outcome == 'failure' }}
        run: exit 1

      - name: Install Positron License
        uses: ./.github/actions/install-license
        with:
          github-token: ${{ secrets.POSITRON_GITHUB_RO_PAT }}
          license-key: ${{ secrets.POSITRON_DEV_LICENSE }}

      # one integration test needs this: Connections pane works for R
      - name: Setup R
        uses: ./.github/actions/install-r
        with:
            version: "4.4.0"

      - name: Compile Integration Tests
        run: npm run --prefix test/integration/browser compile

      - name: Run Integration Tests (Electron)
        id: electron-integration-tests
        run: |
          if [ "${{ inputs.pull_request }}" = "true" ]; then
            DISPLAY=:10 ./scripts/test-integration-pr.sh
          else
            DISPLAY=:10 ./scripts/test-integration.sh
          fi

      - name: Run Integration Tests (Remote)
        if: ${{ job.status != 'cancelled' && (success() || failure()) }}
        id: electron-remote-integration-tests
        run: DISPLAY=:10 ./scripts/test-remote-integration.sh

      - name: Run Integration Tests (Browser, Chromium)
        if: ${{ job.status != 'cancelled' && (success() || failure()) }}
        id: browser-integration-tests
        run: DISPLAY=:10 ./scripts/test-web-integration.sh --browser chromium
