name: "Test: PR"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - 'prerelease/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pr-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.pr-tags.outputs.tags }}
      win_tag_found: ${{ steps.pr-tags.outputs.win_tag_found }}
      web_tag_found: ${{ steps.pr-tags.outputs.web_tag_found }}

    steps:
      - uses: actions/checkout@v4

      - name: Parse Tags from PR Body
        id: pr-tags
        run: bash scripts/pr-tags-parse.sh
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}

  e2e-linux-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-linux.yml
    needs: pr-tags
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (linux)"
      currents_tags: "pull-request,electron/linux,${{ needs.pr-tags.outputs.tags }}"
      report_testrail: false
    secrets: inherit

  e2e-windows-electron:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.win_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (windows)"
      currents_tags: "pull-request,electron/windows,${{ needs.pr-tags.outputs.tags }}"
      report_testrail: false
    secrets: inherit

  e2e-linux-browser:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-linux.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "browser (linux)"
      project: "e2e-browser"
      currents_tags: "pull-request,browser/linux,${{ needs.pr-tags.outputs.tags }}"
      report_testrail: false
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
