name: "Test: PR"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - "prerelease/**"
      - "release/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pr-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.pr-tags.outputs.tags }}
      win_tag_found: ${{ steps.pr-tags.outputs.win_tag_found }}
      web_tag_found: ${{ steps.pr-tags.outputs.web_tag_found }}
      rhel_electron_tag_found: ${{ steps.pr-tags.outputs.rhel_electron_tag_found }}
      rhel_web_tag_found: ${{ steps.pr-tags.outputs.rhel_web_tag_found }}

    steps:
      - uses: actions/checkout@v5
      - name: Parse Tags from PR Body
        id: pr-tags
        run: bash scripts/pr-tags-parse.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}

  e2e-ubuntu-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    needs: pr-tags
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (ubuntu)"
      currents_tags: "pull-request,electron/ubuntu,${{ needs.pr-tags.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      workers: 2
      allow_soft_fail: false
    secrets: inherit

  e2e-windows-electron:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.win_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (windows)"
      currents_tags: "pull-request,electron/windows,${{ needs.pr-tags.outputs.tags }}"
      report_currents: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-ubuntu-browser:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (ubuntu)"
      project: "e2e-chromium"
      currents_tags: "pull-request,chromium/ubuntu,${{ needs.pr-tags.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.rhel_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (RHEL)"
      currents_tags: "pull-request,electron/rhel,${{ needs.pr-tags.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: false
      skip_tags: "@:nightly-only"
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-chromium:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.rhel_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (RHEL)"
      project: "e2e-chromium"
      currents_tags: "pull-request,chromium/rhel,${{ needs.pr-tags.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: true
      skip_tags: "@:nightly-only"
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
    with:
      pull_request: true
