name: "Test: Merge to branch"

on:
  push:
    branches:
      - main
      - "prerelease/**"

jobs:
  e2e-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    with:
      grep: ""
      project: "e2e-electron"
      display_name: "electron (ubuntu)"
      currents_tags: "merge,electron/ubuntu"
      report_testrail: false
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
    secrets: inherit

  e2e-windows-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ""
      display_name: "electron (windows)"
      currents_tags: "merge,electron/windows"
      report_testrail: false
      upload_logs: false
    secrets: inherit

  e2e-linux-chromium:
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    with:
      grep: ""
      display_name: "chromium (ubuntu)"
      project: "e2e-chromium"
      currents_tags: "merge,chromium/ubuntu"
      report_testrail: false
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: true
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
    with:
      pull_request: false

  slack-notify:
    if: failure()
    needs:
      [
        unit-tests,
        integration-tests,
        e2e-electron,
        e2e-windows-electron,
        e2e-linux-chromium,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack
        uses: midleman/slack-workflow-status@v3.1.2
        with:
          gh_repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_token: ${{ secrets.SLACK_TOKEN_TEST_STATUS }}
          slack_channel: "#positron-test-results"
          notify_on: "failure"
