name: "Test: PR"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - "prerelease/**"
      - "release/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: setup
    uses: ./.github/workflows/test-e2e-ubuntu-build.yml
    with:
      shards: 6
      pr_number: ${{ github.event.pull_request.number }}
      repository: ${{ github.repository }}
    secrets: inherit

  e2e-ubuntu-electron:
    name: electron
    uses: ./.github/workflows/test-e2e-ubuntu-run.yml
    needs: [setup]
    with:
      grep: ${{ needs.setup.outputs.tags }}
      display_name: "ubuntu"
      currents_tags: "pull-request,electron/ubuntu,${{ needs.setup.outputs.tags }}"
      report_currents: false
      upload_logs: false
      shards: ${{ fromJSON(needs.setup.outputs.shards) }}
      matrix: ${{ needs.setup.outputs.matrix }}
      workers: 3
      allow_soft_fail: false
    secrets: inherit

  e2e-windows-electron:
    needs: setup
    if: ${{ needs.setup.outputs.win_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-windows.yml
    with:
      grep: ${{ needs.setup.outputs.tags }}
      display_name: "electron (windows)"
      currents_tags: "pull-request,electron/windows,${{ needs.setup.outputs.tags }}"
      report_currents: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-ubuntu-browser:
    needs: [setup]
    if: ${{ needs.setup.outputs.web_tag_found == 'true' }}
    name: chromium
    uses: ./.github/workflows/test-e2e-ubuntu-run.yml
    with:
      grep: ${{ needs.setup.outputs.tags }}
      display_name: "ubuntu"
      project: "e2e-chromium"
      currents_tags: "pull-request,chromium/ubuntu,${{ needs.setup.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      shards: ${{ fromJSON(needs.setup.outputs.shards) }}
      matrix: ${{ needs.setup.outputs.matrix }}
      workers: 1
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    needs: setup
    if: ${{ needs.setup.outputs.rhel_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.setup.outputs.tags }}
      display_name: "electron (RHEL)"
      currents_tags: "pull-request,electron/rhel,${{ needs.setup.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: false
      skip_tags: "@:nightly-only"
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-chromium:
    needs: setup
    if: ${{ needs.setup.outputs.rhel_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    with:
      grep: ${{ needs.setup.outputs.tags }}
      display_name: "chromium (RHEL)"
      project: "e2e-chromium"
      currents_tags: "pull-request,chromium/rhel,${{ needs.setup.outputs.tags }}"
      report_currents: false
      install_undetectable_interpreters: false
      install_license: true
      skip_tags: "@:nightly-only"
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  # unit-tests:
  #   name: test
  #   uses: ./.github/workflows/test-unit.yml
  #   secrets: inherit

  # integration-tests:
  #   name: test
  #   uses: ./.github/workflows/test-integration.yml
  #   secrets: inherit
  #   with:
  #     pull_request: true
