name: "Test: PR"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - "prerelease/**"
      - "release/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pr-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.pr-tags.outputs.tags }}
      win_tag_found: ${{ steps.pr-tags.outputs.win_tag_found }}
      web_tag_found: ${{ steps.pr-tags.outputs.web_tag_found }}
      rhel_electron_tag_found: ${{ steps.pr-tags.outputs.rhel_electron_tag_found }}
      rhel_web_tag_found: ${{ steps.pr-tags.outputs.rhel_web_tag_found }}
      suse_electron_tag_found: ${{ steps.pr-tags.outputs.suse_electron_tag_found }}
      suse_web_tag_found: ${{ steps.pr-tags.outputs.suse_web_tag_found }}
      sles_electron_tag_found: ${{ steps.pr-tags.outputs.sles_electron_tag_found }}
      sles_web_tag_found: ${{ steps.pr-tags.outputs.sles_web_tag_found }}
      debian_electron_tag_found: ${{ steps.pr-tags.outputs.debian_electron_tag_found }}
      debian_web_tag_found: ${{ steps.pr-tags.outputs.debian_web_tag_found }}
      pyrefly_tag_found: ${{ steps.pr-tags.outputs.pyrefly_tag_found }}
      workbench_tag_found: ${{ steps.pr-tags.outputs.workbench_tag_found }}

    steps:
      - uses: actions/checkout@v6
      - name: Parse Tags from PR Body
        id: pr-tags
        run: bash scripts/pr-tags-parse.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}

  e2e-ubuntu-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    needs: pr-tags
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      workers: 2
      allow_soft_fail: false
    secrets: inherit

  e2e-windows-electron:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.win_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-windows-run.yml
    with:
      save_cache: true
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "windows"
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-ubuntu-browser:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-ubuntu.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium"
      project: "e2e-chromium"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.rhel_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (RHEL)"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-rhel-chromium:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.rhel_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-rhel.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (RHEL)"
      project: "e2e-chromium"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-suse-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-suse.yml
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.suse_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (SUSE)"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-suse-chromium:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.suse_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-suse.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (SUSE)"
      project: "e2e-chromium"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-sles-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-sles.yml
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.sles_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (SLES)"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-sles-chromium:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.sles_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-sles.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (SLES)"
      project: "e2e-chromium"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-debian-electron:
    name: e2e
    uses: ./.github/workflows/test-e2e-debian.yml
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.debian_electron_tag_found == 'true' }}
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "electron (Debian)"
      install_undetectable_interpreters: false
      install_license: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-debian-chromium:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.debian_web_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-debian.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "chromium (Debian)"
      project: "e2e-chromium"
      install_undetectable_interpreters: false
      install_license: true
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  e2e-pyrefly:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.pyrefly_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-pyrefly.yml
    secrets: inherit

  build-workbench:
    needs: pr-tags
    if: ${{ needs.pr-tags.outputs.workbench_tag_found == 'true' }}
    name: build
    uses: ./.github/workflows/build-workbench-linux.yml
    secrets: inherit

  e2e-workbench:
    needs: [pr-tags, build-workbench]
    if: ${{ needs.pr-tags.outputs.workbench_tag_found == 'true' }}
    name: e2e
    uses: ./.github/workflows/test-e2e-workbench-ubuntu.yml
    with:
      grep: ${{ needs.pr-tags.outputs.tags }}
      display_name: "workbench"
      install_license: false
      upload_logs: false
      allow_soft_fail: false
    secrets: inherit

  unit-tests:
    name: test
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit
    with:
      save_cache: true  # Only this job saves cache to avoid race conditions

  integration-tests:
    name: test
    uses: ./.github/workflows/test-integration.yml
    secrets: inherit
    with:
      pull_request: true
