.variable-explorer {
    margin: 5px;
    background: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    overflow: hidden;
}

#variable-explorer-data-grid {
    margin: 4px;
}

.span-debug-message {
    margin: 4px;
}

#variable-divider {
    width: 100%;
    border-top-color: var(--override-badge-background, var(--vscode-badge-background));
    border-top-style: solid;
    border-top-width: 2px;
    cursor: ns-resize;
    z-index: 999;
    position: fixed;
}
